*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ellipse1{
    position: absolute;
    top: 100px;
    left: -260px;
    width: 328px;
    height: 328px;
    background: linear-gradient(98.41deg, #FFD700 0%, #1F050E 100%);
opacity: 0.4;
filter: blur(100px);
transform: rotate(88.94deg);
}

.ellipse2{
    width: 328px;
    height: 148px;
    position: absolute;
    right: 320px;
    top: 360px;
    background: linear-gradient(98.41deg, #FFD700 0%, #1F050E 100%);
opacity: 0.4;
filter: blur(100px);
transform: rotate(66.65deg);
}

.ellipse3{
    width: 328px;
    height: 118px;
    position: absolute;
    bottom: 200px;
    left: -80px;
    background: linear-gradient(98.41deg, #FFD700 0%, #1F050E 100%);
opacity: 0.4;
filter: blur(100px);
transform: rotate(66.65deg);
}

.nav-bg {
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, rgba(19, 19, 16, 0.63) 33.65%, rgba(18, 17, 14, 0.89) 79.48%);
}
.stacked {
    z-index: -1;
}

.nft-content {
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nftcard{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nftcard:hover{
    opacity: 0.6;
    transition: .4s;
}

.gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.card-font{
    font-weight: 200;
}

.bg__program {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0C0B09 100%), url('../src/assets/program-bg.svg');
}
 .nft__card-cover {
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    
    position: absolute;
    inset: 0;
    .nft___main_cover{
        display: none;
    }
   


}
.nft__card-cover:hover {
    .nft___side_cover{
        display: none;
    }
    .nftsample1{
        display: none;
    }
   
    .nft___main_cover{
        display: block;
    }
    background: transparent;
    transition: all ease-in-out .7s;

}

.sliderWrap {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 999;
background-color: rgba(32, 29, 12, 0.8);
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}

.sliderWrap .btnClose, .sliderWrap .btnPrev, .sliderWrap .btnNext {
position: fixed;
cursor: pointer;
opacity: 0.6;
color: #FFD700;
z-index: 9999;
}

.btnClose, .btnPrev, .btnNext {
width: 8%;
height: 8%;
}

.sliderWrap .btnPrev {
top: 50%;
transform: translateY(-50%);
left: 10px;
}

.sliderWrap .btnNext {
top: 50%;
transform: translateY(-50%);
right: 10px;
}
.btnNext:hover, .btnPrev:hover, .btnClose:hover {
opacity: 1;
}

.sliderWrap .btnClose {
top: 40px;
right: 40px;
}


.fullScreenImage {
width: calc(100% - 40px);
height: calc(100% - 70px);
display: flex;
align-items: center;
justify-content: center;
}

.fullScreenImage img {
max-width: 100%;
max-height: 100%;
pointer-events: none;
-webkit-user-select: none;
-ms-user-select: none; 
user-select: none; 
}

.partner__bg{
    background-image: url("../src/assets/program-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
}

.contact_img_section {
    background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url("./assets/contactimage.png") center center;
}  
