

.ellipse1{
    position: absolute;
    top: 100px;
    left: -260px;
    width: 328px;
    height: 328px;
    background: linear-gradient(98.41deg, #FFD700 0%, #1F050E 100%);
opacity: 0.4;
filter: blur(100px);
transform: rotate(88.94deg);
}

.ellipse2{
    width: 328px;
    height: 148px;
    position: absolute;
    right: 320px;
    top: 360px;
    background: linear-gradient(98.41deg, #FFD700 0%, #1F050E 100%);
opacity: 0.4;
filter: blur(100px);
transform: rotate(66.65deg);
}

.ellipse3{
    width: 328px;
    height: 118px;
    position: absolute;
    bottom: 200px;
    left: -80px;
    background: linear-gradient(98.41deg, #FFD700 0%, #1F050E 100%);
opacity: 0.4;
filter: blur(100px);
transform: rotate(66.65deg);
}

.nav-bg {
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, rgba(19, 19, 16, 0.63) 33.65%, rgba(18, 17, 14, 0.89) 79.48%);
}
.stacked {
    z-index: -1;
}

.nft-content {
    display: grid;
    place-items: center;
    background-image: url("../src/assets/bgimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nftcard{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nftcard:hover{
    opacity: 0.6;
    transition: .4s;
}
